* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "iran-sans";
  font-weight: 100;
}

/* add font persian */
@font-face {
  font-family: "iran-sans";
  src: url("../fonts/Samim-Bold-FD-WOL.eot") format("eot"),
    url("../fonts/Samim-FD-WOL.ttf") format("ttf"),
    url("../fonts/Samim-FD-WOL.woff") format("woff");
}

:root {
  --color-green: #3bb77e;
  --color-green-light: #bce3c9;
  --color-gray-dark: #777;
  --color-gray-light: #f7f7f7;
  --color-dark-one: #2c2e43;
  --color-blue: #1877F2;
  --color-red: #E02401;
}

body{
  overflow: hidden;
}


.loading{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-out;
}
.loading .circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-green);
  transition: all .3s ease-out;
  animation: animate-preload 1.8s infinite;
}
.loading.fade{
  opacity: 0;
  visibility: hidden;
}
@keyframes animate-preload {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(.2);
    background-color: var(--color-green-light);
  }
  100%{
    transform: scale(1);
  }
}

a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}
li {
  list-style-type: none;
}
input{
  height: 50px;
}
input:not(input[type="checkbox"]),
textarea {
  width: 100%;
  font-family: "iran-sans";
  padding: 0.5rem 0.8rem 0.5rem 0;
  font-size: 0.9rem;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 20px 1px rgba(121, 121, 121, 0.11);
  outline: none;
}
del {
  color: var(--color-gray-dark);
  font-size: 0.95rem;
}
.title_section h2 {
  position: relative;
  margin-bottom: 2rem;
}

/* ===== flickity js ===== */
.shape_title {
  position: absolute;
  top: -30%;
  right: -1%;
  width: 70px;
  height: 70px;
  z-index: -1;
  opacity: 0.6;
}
.flickity-button:disabled {
  pointer-events: all !important;
}
/* ===== flickity js ===== */

.phone_products,
.popular_products {
  padding: 1rem;
  margin-top: 2rem;
}

/* ===== header start ===== */
.header_bottom .user_cart_shopping{
  display: none;
}
.header {
  padding: 1rem;
  width: 100%;
  border-bottom: 1px dashed var(--color-green-light);
  position: relative;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}
.header_right {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: center;;
}
.header_right .logo {
  margin-left: 2rem;
}
.header_right .logo img {
  max-width: 90%;
}
.header_right .search_box {
  flex-basis: 70%;
}
.header_right .search_box form {
  width: 100%;
  display: flex;
  position: relative;
}
.search_box form input {
  transition: all 0.3s ease-out;
  border: 2px solid transparent;
}
.search_box form input:focus {
  border: 2px solid var(--color-green-light);
}
form .btn_search {
  position: absolute;
  left: 0.5%;
  top: 50%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  padding: 0 1rem;
  border-radius: 13px;
  background-color: var(--color-green);
  border: none;
  cursor: pointer;
  outline: none;
}
form .btn_search .fa-search {
  color: #fff;
  font-size: 1.1rem;
}
.header_left,
.user_cart_shopping {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_left .cart,
.header_left .user_account,
.user_cart_shopping .cart,
.user_cart_shopping .user_account{
  margin-left: 1rem;
}
.header_left .cart,
.user_cart_shopping .cart {
  position: relative;
}
.header_left .cart .cart_count,
.user_cart_shopping .cart .cart_count {
  position: absolute;
  top: -30%;
  right: 0;
  background-color: var(--color-green);
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  font-size: 0.96rem;
  color: #fff;
}
.header_left .cart .fa-shopping-cart,
.header_left .user_account .fa-user,
.user_cart_shopping .cart .fa-shopping-cart,
.user_cart_shopping .user_account .fa-user {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--color-gray-dark);
}
.cart .cart_dropdown{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 200%;
  right: -280px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px 2px rgba(121, 121, 121, 0.21);
  border-radius: 13px;
  width: 320px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 2000;
}
.cart:hover .cart_dropdown {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.cart .cart_dropdown .cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cart_dropdown .cart_item .btn_remove_item {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1rem;
  width: 23px;
  height: 23px;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  cursor: pointer;
}
.cart_dropdown .cart_item .item_image {
  flex-basis: 80px;
}
.cart_dropdown .cart_item .text_item {
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
  padding: 0 1rem;
}
.item_image img {
  max-width: 100%;
  border-radius: 5px;
}
.cart_item .text_item .item_title {
  font-size: 1.1rem;
  color: var(--color-green);
  margin-bottom: 0.2rem;
}
.text_item .price_item {
  font-size: 0.9rem;
  color: var(--color-gray-dark);
}
.cart_dropdown .cart_price {
  flex-basis: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: 3px solid var(--color-green-light);
  display: flex;
  justify-content: space-between;
}
.cart_price .title_price {
  color: var(--color-gray-dark);
}
.cart_price .price {
  color: var(--color-green);
}
.cart_dropdown .btn_view_cart {
  width: 100%;
}
.cart_dropdown .btn_view_cart a {
  display: block;
  background-color: var(--color-green);
  color: #fff;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 8px;
  font-size: 0.9rem;
}
.register_login{
  font-size: 1rem;
  padding: .5rem .8rem;
  border-radius: 8px;
  border: 1px solid var(--color-green);
  color: var(--color-gray-dark);
  transition: .2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register_login:hover{
  background-color: var(--color-green);
  color: #fff;
}
.user_account {
  position: relative;
}
.user_account .user_dropdown {
  position: absolute;
  top: 200%;
  right: -140px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px 2px rgba(121, 121, 121, 0.21);
  border-radius: 13px;
  width: 180px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 1000;
}
.user_account:hover .user_dropdown {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.user_dropdown ul {
  display: flex;
  flex-direction: column;
}
.user_dropdown ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user_dropdown ul li:not(:first-child, :last-child) {
  margin: 0.4rem 0;
}
.user_dropdown ul li .icon_user {
  font-size: 0.98rem;
  color: var(--color-gray-dark);
  transition: all 0.2s ease-out;
}
.user_dropdown ul li a {
  flex-basis: 100%;
  padding: 0.4rem 0.5rem 0.4rem 0.4rem;
  color: var(--color-gray-dark);
  font-size: 0.94rem;
}
.user_dropdown ul li:hover .icon_user,
.user_dropdown ul li:hover a {
  color: var(--color-green);
}

.header_bottom {
  padding-top: 1rem;
  border-top: 2px solid var(--color-gray-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_bottom.sticky{
  width: 100%;
  position: fixed;
  top: 0; right: 0;
  background-color: #fff;
  border-bottom: 2px dashed var(--color-green-light);
  padding: 1rem;
  box-shadow: 0 10px 30px 2px rgba(121, 121, 121, 0.205);
  z-index: 1000;
}
.categories {
  position: relative;
}
.categories .btn_categories {
  padding: 0.5rem 1.4rem;
  background-color: var(--color-green);
  color: #fff;
  font-size: 0.87rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.categories .categories_dropdown {
  position: absolute;
  top: 180%;
  right: 0;
  min-width: 412px;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 2000;
}
.categories:hover .categories_dropdown {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.categories_dropdown ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px 2px rgba(121, 121, 121, 0.21);
  border-radius: 8px;
}
.categories_dropdown ul li {
  flex-basis: 49%;
  margin: 0.6rem 0;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 0.5rem;
  transition: all 0.2s ease-out;
}
.categories_dropdown ul li:hover {
  box-shadow: 0 7px 15px 2px rgba(121, 121, 121, 0.21);
}
.categories_dropdown ul li:hover a {
  color: var(--color-green);
}
.categories_dropdown ul li a {
  display: flex;
  align-items: center;
  color: var(--color-dark-one);
  font-size: 0.86rem;
}
.categories_dropdown ul li a img {
  max-width: 30px;
  margin-left: 1rem;
}
.navbar {
  display: flex;
  align-items: center;
}
.btn_bars_menu{
  display: none;
  cursor: pointer;
  margin-right: 1.7rem;
  font-size: 1.6rem;
  color: var(--color-gray-dark);
  padding: .4rem;
}
.nav ul {
  display: flex;
}
.nav ul .nav-item {
  margin: 0 0.3rem;
}
.nav-item .nav-link {
  padding: 0.6rem 0.9rem;
  font-size: 0.95rem;
  color: var(--color-dark-one);
  position: relative;
}
.nav-item .nav-link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 0;
  height: 2px;
  border-radius: 18px;
  background-color: var(--color-green);
  transition: all 0.3s ease-out;
}
.nav-item .nav-link:hover::before {
  width: 60%;
}
.hotline {
  display: flex;
  align-items: center;
}
.hotline .fa-headphones {
  font-size: 1.7rem;
  margin-left: 0.6rem;
  color: var(--color-green);
}
.hotline .hotline_text {
  font-size: 0.94rem;
  color: #707070;
}
/* ===== header end ===== */

/* +++++ main styles start +++++ */

/* sliders */
.sliders {
  width: 100%;
  background-image: url("../images/banner-12.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.carousel_slider {
  width: 70%;
  max-height: 70vh;
}
.carousel-cell img {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flickity-button {
  background-color: var(--color-gray-dark) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.flickity-button-icon {
  color: #fff;
  font-size: 1.8rem !important;
  transition: all 0.2s ease-out;
}
.flickity-button:hover .flickity-button-icon{
  color: var(--color-green);
}
.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  color: #fff;
}
.banner {
  width: 29%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.banner img {
  max-width: 100%;
  height: 100%;
}
.banner .btn_shop_more {
  position: absolute;
  top: 30%;
  right: 50%;
  transform: translate(-30%, 50%);
  padding: 0.5rem 1.4rem;
  background-color: var(--color-green);
  border-radius: 8px;
  border: 1px solid var(--color-green);
  color: #fff;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
}
.btn_shop_more .fa-chevron-left {
  margin-right: 0.3rem;
  transition: all 0.2s ease-out;
}
.banner .btn_shop_more:hover {
  background-color: transparent;
  color: var(--color-gray-dark);
}
.banner .btn_shop_more:hover .fa-chevron-left {
  margin-right: 0.6rem;
}
/* sliders */

/* popular_products */
.products {
  width: 100%;
}
.products .carousel-cell {
  width: 260px;
  min-height: 350px;
  box-shadow: 0 0 10px 1px rgba(121, 121, 121, 0.205);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  margin: 0 1rem;
  border-radius: 20px;
}
.carousel-cell .off_price {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  background-color: rgb(228, 62, 62);
  border-radius: 20px 0 20px 0;
  text-align: center;
}
.off_price span {
  font-size: 0.9rem;
  color: #fff;
}
.product_image a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.product_image a img {
  max-width: 80%;
}
.product_info {
  width: 100%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.product_title {
  padding: 0.8rem;
}
.product_title a {
  color: var(--color-dark-one);
  font-size: 0.87rem;
  transition: all 0.2s ease-out;
}
.product_title a:hover {
  color: var(--color-green);
}
.product_item {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.product_price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product_item .product_price .price {
  font-size: 1rem;
  color: var(--color-green);
}
.product_item .add_cart {
  padding: 0.3rem 1.5rem;
  background-color: var(--color-green-light);
  border-radius: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.add_cart .fa-cart-plus {
  color: var(--color-green);
}
/* popular_products */

/* banners */
.banners {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banners a {
  display: block;
  max-width: 49.5%;
  width: 49.5%;
}
.banners a img {
  max-width: 100%;
  border-radius: 8px;
}
/* banners */

/* amazing products */
.amazing_products {
  display: flex;
  align-items: center;
}
.amazing_products .banner_amazing {
  padding: 2rem;
  width: 300px;
  background-color: crimson;
  border-radius: 8px;
}
.banner_amazing img {
  max-width: 100%;
}
.amazing_items {
  margin-top: 0;
  width: 80%;
}
.title_section_amazing{
  display: none;
}
/* amazing products */

/* +++++ main styles end +++++ */

/* footer */
.footer{
  padding:0 1rem;
  background-image: url('../images/bg.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.footer .cols{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .cols .col{
  width: 250px;
  margin: 2.2rem 0;
}
.footer .cols .col .contact .items_contact{
  margin-top: 2rem;
  display: flex;
}
.contact .items_contact i{
  font-size: 1.1rem;
  color: var(--color-green);
}
.contact .items_contact address,
.contact .items_contact  span{
  margin-right: .8rem;
  font-weight: 400;
}
.col_two h3,
.col_three h3,
.col_four h3,
.col_five h3{
  font-size: 1.3rem;
}
.col ul{
  display: flex;
  flex-direction: column;
}
.col ul li{
  margin-top: .5rem;
}
.col ul li a{
  padding: 12px 0;
  font-size: .93rem;
  display: block;
  transition: all .2s ease-out;
}
.col ul li a:hover{
  color: var(--color-green);
}
.items_link h4{
  margin: 1rem 0;
}
.items_link a img{
  width: 130px;
  margin-top: 2rem;
}
.footer .footer_bottom{
  border-top: 1px dashed var(--color-green-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}
.copyright{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.footer_bottom .socials i{
  font-size: 1.35rem;
  color: var(--color-dark-one);
  margin: 0 .8rem;
  transition: all .2s ease-out;
}
.footer_bottom .socials i:hover{
  color: var(--color-green);
}
/* footer */



/* register page */
.register{
  padding: 1rem;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col_left{
  width: 20%;
}
.col_right{
  width: 30%;
}
.register .col_right,
.col_left{
  margin: 2rem 1.7rem;
}
.register .col_right .desc_register{
  margin: 1rem 0;
}
.desc_form{
  color: var(--color-dark-one);
  font-size: .9rem;
}
.desc_form a{
  color: var(--color-green);
  font-weight: bold;
}
.register .col_right .form_box{
  width: 100%;
}
.form_register{
  width: 100%;
}
.form_register input{
  margin-top: .9rem;
  transition: all .2s ease-out;
  box-shadow: 0 0 20px 1px rgba(175, 175, 175, 0.315);
}
.form_register .check_policy{
  margin: .8rem 0;
  display: flex;
  align-items: center;
} 
.check_policy input{
  margin-top: 0;
}
.check_policy span{
  margin-right: .5rem;
}
.check_policy span a{
  color: var(--color-green);
}
.form_register input:focus{
  box-shadow: 0 0 10px 0 rgba(138, 138, 138, 0.315);
}
.form_box .form_register .submit_register{
  background-color: var(--color-green);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all .2s ease-out;
}
.submit_register:hover{
  background-color: #074e2d;
}
.col_left .socials_register{
  display: flex;
  flex-direction: column;
}
.register_facebook,
.register_google{
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
}
.register_facebook i,
.register_google i{
  font-size: 1.5rem;
  margin-left: .6rem;
}
.socials_register .register_facebook{
  background-color: var(--color-blue);
}
.socials_register .register_google{
  background-color: var(--color-red);
  margin-top: 1rem;
}
/* register page */


/* login page */
.login{
  padding: 1rem;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
/* login page */


/* product_single page */
.product{
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}
.product .main-carousel{
  margin-top: 0;
}
.product .main-carousel{
  width: 25%;
  margin: 0;
  padding-left:2rem;
}
.single_carousel .carousel-cell{
  width: 100%;
}
.desc_product{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
}
.product .product_image a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .product_image a img {
  max-width: 100%;
}
.desc_product .title_product{
  font-size: 1.1rem;
}
.desc_product .type_product{
  margin-top: 1rem;
}
.type_product span{
  font-size: .9rem;
}
.type_product span a{
  color: var(--color-green);
}
.desc_product .price_product{
  width: 300px;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price_product .price{
  font-size: 1.5rem;
  color: var(--color-green);
}
.price_product del{
  font-size: 1rem;
}
.price_product .price_off{
  width: 50px;
  padding:3px 0;
  background-color: var(--color-red);
  border-radius: 20px;
  color: #fff;
  text-align: center;
}
.info_product .text_info{
  color: #666;
  font-size: .96rem;
  line-height: 2;
  width: 90%;
}
.product .product_image a{
  padding: 0;
}
.product .options_product{
  margin-top: 2rem;
}
.product .options_product form{
  display: flex;
}
.options_product form #size_product{
  margin-right: 1rem;
  width: 80px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid var(--color-green);
  border-radius: 8px;
  cursor: pointer;
}
.product .buttons_product{
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.buttons_product .add_to_cart{
  border: none;
  border-radius: 8px;
  background-color: var(--color-green);
  color: #fff;
  font-size: .9rem;
  width: 250px;
  padding: .6rem 2rem;
  cursor: pointer;
}
.buttons_product .favorites{
  background-color: transparent;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
}
.favorites .fa-heart{
  font-size: 2rem;
  color: var(--color-green);

}

.product_description{
  margin: 4rem 1rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(121, 121, 121, 0.21);
}
.product_description .text_desc{
  margin-top: 2rem;
  color: var(--color-gray-dark);
  line-height: 2;
  font-size: .92rem;
}
.product_description .list{
  margin: 1rem 1.4rem 0 0;
}
.product_description .list ul li{
  list-style-type: square;
  color: var(--color-green);
  margin-top: .2rem;
  font-size: .9rem;
}
.related_products{
  padding: 1rem;
}
/* product_single page */

/* about_us page */
.about_us{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.about_us .text_about{
  padding: 3rem;
  width: 50%;
}
.text_about h1{
  font-size: 1.7rem;
}
.text_about p{
  margin-top: 1rem;
  line-height: 2;
  color: var(--color-gray-dark);
}
.image_about{
  padding: 3rem;
  width: 50%;
}
.image_about img{
  max-width: 100%;
  border-radius: 10px;
  position: relative;
}
.image_about img::before{
  position: absolute;
  content: "";
  right: -10%;
  bottom: -10%;
  width: 100%;
  height: 100%;
  background-color: var(--color-green-light);
}
.provide{
  margin-top: 2rem;
  padding: 1rem;
}
.provide .title_provide{
  text-align: center;
}
.title_provide h2{
  position: relative;
  padding: 1rem 0;
  display: inline-block;
}
.title_provide h2::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  height: 3px;
  background-color: var(--color-green);
}
.provide{
  padding: 1rem;
  margin-bottom: 5rem;
}
.provide .items_provide{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.provide .items_provide .item{
  width: 30%;
  min-width: 300px;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px 2px rgba(121, 121, 121, 0.205);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.items_provide .item .title_provide{
  margin: 1rem 0;
}
.item .title_provide h3{
  font-weight: 600;
}
.item .desc_provide{
  padding: 0 2rem;
}
.item .desc_provide p{
  text-align: justify;
  font-size: .91rem;
  color: var(--color-gray-dark);
  line-height: 2;
}
/* about_us page */


/* contact page */
.ways_contact{
  margin: 4rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ways_contact h1{
  font-size: 1.7rem;
  position: relative;
  display: inline-block;
  padding: 1rem 0;
}
.ways_contact h1::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  height: 3px;
  background-color: var(--color-green);
}
.ways_contact .contacts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;
}
.ways_contact .contact_way{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 1.2rem 1rem;
  box-shadow: 0 0 30px 2px rgba(121, 121, 121, 0.205);
  border-radius: 10px;
}
.contact_way .fa{
  font-size: 2.2rem;
  color: var(--color-green);
}
.contact_way span,
.contact_way address{
  margin-top: 2rem;
  font-size: 1.2rem;
}
.map{
  margin: 3rem 0;
}

.contact_form{
  margin-bottom: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_form h2{
  position: relative;
  padding: 1rem 0;
  display: inline-block;
}
.contact_form h2::after{
  position: absolute;
  content: "";
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 80%;
  height: 3px;
  background-color: var(--color-green);
}
.contact_form .form_section{
  width: 50%;
  margin-top: 2rem;
}
.form_section .form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form_group{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .6rem 0;
}
.form_section .form_group input{
  display: inline;
  width: 49%;
}
.form_section .form textarea{
  margin-top: .7rem;
  resize: none;
}
.form_section .form .submit_form{
  margin-top: .9rem;
  background-color: var(--color-green);
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}
/* contact page */


/* my_account page */
.account{
  min-height: 580px;
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account .links_account{
  width: 20%;
}
.account .pages_account{
  width: 78%;
}
.item_account h2{
  font-size: 1.6rem;
  color: var(--color-green);
}
.account .links_account ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links_account ul a{
  color: #000;
}
.links_account ul li,
.links_account ul a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  padding-right: 2rem;
  box-shadow: 0 0 30px 2px rgba(121, 121, 121, 0.205);
  border-radius: 10px;
  margin: 1rem 0;
  cursor: pointer;
  transition: all .2s ease-out;
  color: var(--color-gray-dark);
}
.links_account ul li.active{
  background-color: var(--color-green);
  color: #fff;
}
.links_account ul li .fa,
.links_account ul a .fa{
  font-size: 1.2rem;
  margin-left: .5rem;
}

.pages_account .item_account{
  display: none;
}
.pages_account #dashboard{
  display: block;
}
.pages_account #dashboard .name_account{
  font-size: 1.8rem;
  color: var(--color-green);
}
.pages_account #dashboard p{
  margin-top: 1.2rem;
  color: var(--color-gray-dark);
}
.order_account .table_order{
  margin-top: 1.3rem;
  width: 90%;
  border: 1px solid rgba(121, 121, 121, 0.21);
  border-radius: 8px;
  text-align: center;
}
.table_order tr th{
  padding: .5rem;
  border-bottom: 1px solid rgba(121, 121, 121, 0.205);
  background-color: var(--color-green-light);
  font-size: 1.05rem;
}
.table_order tr td{
  padding: .8rem .5rem;
  font-size: .95rem;
}
.table_order tr:nth-child(even){
  background-color: rgb(241, 241, 241);
}
.info_account .setting_account{
  margin-top: 2rem;
}
.info_account form{
  width: 50%;
}
.info_account form .form_group{
  display: flex;
  justify-content: space-between;
}
.info_account .form_group input{
  display: block;
  margin-top: 1rem;
  width: 49% !important;
}
.info_account form input{
  margin-top: 1rem;
  box-shadow: 0 0 20px 1px rgba(121, 121, 121, 0.192);
}
.info_account .submit_change{
  background-color: var(--color-green);
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
/* my_account page */



/* Media Queries */
@media screen and (max-width: 1200px) {
  
}
@media screen and (max-width: 991px) {
  .header_right{
    width: 70%;
  }
  .sliders .banner{
    display: none;
  }
  .main-carousel{
    width: 100%;
  }
  .flickity-slider{
    right: 0 !important;
  }
  .amazing_products .banner_amazing{
    display: none;
  }
  .title_section_amazing{
    display: block;
  }
  .amazing_products {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .title_section h2{
    font-size: 1.3rem;
  }
  .desc_product .title_product{
    font-size: 1rem;
  }
  .price_product .price{
    font-size: 1.2rem;
  }
  .price_product .price_off{
    padding: 1px 0;
    font-size: .9rem;
  }
  .info_product .text_info,
  .product_description .text_desc{
    font-size: .9rem;
  }
  .about_us{
    flex-direction: column;
    align-items: center;
  }
  .about_us .text_about{
    width: 90%;
  }
  .image_about{
    width: 90%;
  }
  .item .title_provide h3{
    font-size: 1rem;
    font-weight: normal;
  }
  .item .desc_provide p{
    font-size: .84rem;
  }
  .register .col_right,
  .register .col_left{
    width: 40%;
  }
  .ways_contact h1,
  .contact_form h2{
    font-size: 1.4rem;
  }
  .contact_way span,
  .contact_way address{
    font-size: 1rem;
  }
  .contact_form .form_section{
    width: 80%;
  }
  .info_account form{
    width: 80%;
  }
  .account .pages_account{
    width: 70%;
  }
  .account .links_account{
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .header_right{
    width: 60%;
  }
  .nav ul{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    background-color: var(--color-gray-light);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .3s ease-out;
    z-index: 100;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    padding: 1rem 0;
  }
  .nav ul.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
  .nav ul li{
    margin: 1rem 0 !important;
    padding: 0 .8rem;
  }
  .nav-item .nav-link::before{
    width: 0 !important;
  }
  .btn_bars_menu{
    display: block;
  }
  .banners{
    flex-direction: column;
  }
  .banners a{
    width: 99%;
    max-width: 100%;
  }
  .cols .col h3{
    font-size: 1rem;
  }
  .col ul li a{
    font-size: .8rem;
  }
  .items_link h4{
    font-size: .8rem;
  }
  .copyright p{
    font-size: .8rem;
  }
  .product{
    flex-direction: column;
    align-items: center;
  }
  .product .single_carousel{
    width: 50%;
    margin-bottom: 1rem;
  }
  .about_us .text_about{
    width: 100%;
  }
  .image_about{
    width: 95%;
  }
  .register{
    flex-direction: column;
  }
  .register .col_right,
  .register .col_left{
    width: 80%;
  }
  .form_section .form .submit_form{
    font-size: .9rem;
  }
  .account{
    flex-direction: column;
    justify-content: space-around;
  }
  .account .links_account{
    width: 45%;
  }
  .account .pages_account{
    width: 90%;
  }
  .links_account ul li, .links_account ul a{
    margin: .5rem 0;
  }
  .pages_account .item_account{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .products .swiper-slide{
    max-width: 300px !important;
  }
  .title_section h2{
    font-size: 1.1rem;
  }
  .products .carousel-cell{
    width: 230px;
  }
  .product_item .product_price .price{
    font-size: .9rem;
  }
  del{
    font-size: .8rem;
  }
  .product_title a{
    font-size: .8rem;
  }
  .header_right{
    width: 100%;
    justify-content: space-between;
  }
  .header_left{
    display: none;
  }
  .header_right .search_box{
    flex-basis: 85%;
  }
  .hotline{
    display: none;
  }
  .header_bottom .user_cart_shopping {
    display: flex;
  }
  .fa-user,
  .fa-shopping-cart{
    font-size: 1.2rem !important;
  }
  .product .single_carousel{
    width: 90%;
    margin-bottom: 2rem;
  }
  .desc_product{
    width: 90%;
  }
  .favorites .fa-heart{
    font-size: 1.5rem;
  }
  .cart .cart_dropdown{
    right: -210px;
  }
  .text_about h1{
    font-size: 1.2rem;
  }
  .text_about p{
    font-size: .9rem;
  }
  .title_provide h2{
    font-size: 1.2rem;
  }
  .categories .btn_categories{
    font-size: .76rem;
  }
  .title_form{
    font-size: 1.2rem;
  }
  .desc_form{
    font-size: .8rem;
  }
  .check_policy span,
  .form_box .form_register .submit_register{
    font-size: .9rem;
  }
  .register_facebook, .register_google{
    font-size: .8rem;
  }
  .contact_form .form_section{
    width: 100%;
  }
  .account .links_account{
    width: 80%;
  }
  .account .pages_account{
    width: 100%;
  }
  .item_account h2{
    font-size: 1.3rem;
    text-align: center;
  }
  .info_account form{
    width: 100%;
  }
}

@media screen and (max-width: 632px) {
  .provide .items_provide{
    justify-content: center;
  }
  .provide .items_provide .item{
    width: 90%;
  }
}

@media screen and (max-width: 420px) {
  .categories .categories_dropdown{
    right: -28px;
  }
}